* {
margin:0;
padding:0;
}

#top {
text-align: right;
}

#middle {
}

#bottom {
font-size: 0.9em;
height: 50px;
text-align: center;
}

body {
font-family: Cuprum;
}

h3 {
border-bottom: solid 1px #000000;
}

form {
margin: 0;
padding: 0;
}

a {
color: #cc0000;
font-size: 1.0em;
padding: 0px 2px 0px 2px;
}

a:hover {
text-decoration: none;
}

th {
border-right: solid 3px #ffffff;
border-bottom: solid 1px #000000;
border-left: solid 3px #ffffff;
}

td {
text-align: center;
border-right: solid 3px #ffffff;
border-bottom: solid 1px #cccccc;
border-left: solid 3px #ffffff;
}

.db {
padding-bottom: 6px;
margin-bottom: 30px;
position:relative;
}

.db .delete {
background:url('../img/delete.png') no-repeat;
width:32px;
height:32px;
cursor:pointer;
}

.new {
cursor: pointer;
}

.new:hover {
color: #ff0000;
}

.db a img {
display:block;
border:none;
}

.switch {
padding: 5px;
}

.selected {
color: #ffffff;
background-color: #ff0000;
border: solid 1px #ff0000;
}

#new_storage_form .selected:hover {
color: #ff0000;
background-color: #ffaaaa;
border: solid 1px #ff0000;
}

.intermediate {
color: #ff0000;
background-color: #ffff00;
border: solid 1px #ff0000;
}

.unselected {
color: #ff0000;
background-color: #ffffff;
border: solid 1px #ff0000;
cursor: pointer;
}

.unselected:hover {
color: #ffffff;
background-color: #ffaaaa;
}

.button_yes {
background-color: #33cc00;
border: solid 3px #009900;
color: #ffffff;
padding: 5px;
font: 0.8em;
cursor: pointer;
}

.button_yes:hover {
background-color: #33ff00;
}

.button_no {
background-color: #ff5555;
border: solid 3px #cc0000;
color: #ffffff;
padding: 5px;
font: 0.8em;
cursor: pointer;
}

.button_no:hover {
background-color: #ff0000;
}

.cloud_status {
margin-right: 12px;
padding: 5px;
float: left;
width: 30%;
}

.ss_active {
font-size: 0.9em;
margin-top: 5px;
padding: 5px;
color: #ffffff;
background-color: #ff0000;
border: 3px double #ffffff;
}

.ss_inactive {
font-size: 0.9em;
margin-top: 5px;
padding: 5px;
color: #ffffff;
background-color: #0000ff;
border: 3px double #ffffff;
}

.ss_inactive_site {
cursor: pointer;
}

.hidden {
display: none;
}

.disabled {
background-color: #cccccc;
border: solid 5px #aaaaaa;
color: #ffffff;
text-align: center;
font-size: 1.5em;
width:95%;
height:80px;
padding-top: 50px;
}

#ss_main_site {
background-color: #ffffff;
border: solid 1px #666666;
color: #666666;
height: 50px;
width: 62px;
padding: 10px;
text-align: center;
}

#ss_backup_site {
background-color: #ffffff;
border: solid 1px #666666;
color: #666666;
height: 50px;
width: 62px;
padding: 10px;
text-align: center;
}


